<!-- layouts/partials/ldn-fallback.html -->
<div class="relative bg-yellow-100 text-ink rounded-xl p-6 text-center shadow max-w-2xl mx-auto mb-8">
  <p class="font-mono text-xl sm:text-2xl font-semibold">
    <h1>LDN Mode:</h1>
    <p><strong>L</strong>azy.<br />
    <strong>D</strong>iabetic.<br />
    <strong>N</strong>erdette.</p>
    </p>
    <p><em>Not all entries need to have a fancy-schamncy featured image, and this is one of them.</em></p>
  </p>
  <img src="/images/design/ldn-mode-no-images.png" alt="Placeholder image" class="mx-auto mt-4 w-32 h-32 sm:w-40 sm:h-40 object-contain" />
</div>