<!-- 🌟 Sozai Stickers -->
<img src="/images/sticker-heart.png" class="sticker" style="top: 20vh; left: 5vw;" title="Drag me!" />
<img src="/images/sticker-star.png" class="sticker" style="top: 50vh; left: 90vw;" title="Drag me!" />
<img src="/images/sticker-sleepy-cloud.png" class="sticker" style="top: 70vh; left: 10vw;" title="Drag me!" />
<img src="/images/sticker-panda.png" class="sticker" style="top: 35vh; left: 80vw;" title="Drag me!" />
<img src="/images/sticker-cat.png" class="sticker" style="top: 60vh; left: 45vw;" title="Drag me!" />
<img src="/images/sticker-boba.png" class="sticker" style="top: 80vh; left: 20vw;" title="Drag me!" />